.sec-section {
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
   

    .sec-section-heading {
        max-width: 500px;
        margin: auto;
        
    }

  
}

.sec-section .grid h3 {
    font-size: 35px;
  
}

.sec-section .grid p {
        font-size: 20px;
        font-weight: bold;
    }

  


.text-center {
    text-align: center;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}